
* {
    font-family: Roboto;
}

.tituloSistema {
    font-weight: bold;
    font-size: 1.8em;
    padding-left: 10dvh;
    padding-right: 10dvh;
    text-align: center;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

#seach-container {
    padding-left: 5dvh;
    padding-right: 100dvh;
    position: relative;

}

body {
    
    padding-bottom: 150px;
    position: relative;
}

main {
    min-height: 100vh;
}

header{
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

main .row{
    margin: 0;
    
}

main .container-fluid{
    padding: 0;
    min-height: 110vh;
}



#avs-container {
    padding-left: 50px;
}

#avs-container .subtitle{
    color: #757575;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

#cards-container {
    display: flex;
    padding-bottom: 50px;
}

#avs-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#avs-container img{
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date{
    font-size: 12px;
    color: #000000;
}

.card .card-title{
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}

footer p{
    margin-bottom: 0;
}

.espacoAntesFooter {
    height: 30px;
}
.espaco {
    height: 10px;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}


/* av create page */
#av-create-container {
    padding: 30px;
    padding-top: 10px;
    min-height: 100vh;
}
#av-create-container label {
    font-weight: bold;
}
#av-create-container input,
#av-create-container select,
#av-create-container textarea {
    font-size: 12px;
}
.form-group{
    padding-bottom: 10px;
}
.custom-select{
    width: 400px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    
}

/* av page */

#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img{
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container h3,
#description-container h3 {
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon {
    font-size: 20px;
    color: #2f6beb;
    margin-right: 5px;
}

#info-container #av-submit {
    margin: 20px 0;
}

/* Página de solicitação de AV */

#items-list {
    list-style: none;
    padding-left: 0;
}

#items-list li {
    display: flex;
}

.navbarMenu {
    display: flex;
    text-align: center;
    margin-right: 30px;
}

/* Dashboard */
.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-avs-container th {
    width: 25%;
}

.dashboard-avs-container form {
    display: inline-block;
}

/* Edit page*/
.img-preview {
    width: 200px;
    margin-top: 20px;
}

#btSalvarAv {
    padding-left: 30%;
}


